<ion-view>
	<div class="bar bar-header bar-positive">
		<h1 class="title">Kid Care</h1>
	</div>
	<ion-content class="has-header">
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Email">
			</label>
		</div>
		<div class="padding">
			<button class="button button-block button-positive">
				Lấy lại mật khẩu
			</button>
			<p class="text-center">
				<a ui-sref="login">Đăng nhập</a>
			</p>
			<p class="text-center">
				<a ui-sref="register">Đăng ký thành viên</a>
			</p>
		</div>
	</ion-content>
</ion-view>
